{#
   Each field type is rendered by a template fragment, which is determined
   by the name of your form type class (DateTimePickerType -> date_time_picker)
   and the suffix "_widget". This can be controlled by overriding getBlockPrefix()
   in DateTimePickerType.

   See https://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#creating-a-template-for-the-field
#}

{% block date_time_picker_widget %}
    <div class="input-group date" data-toggle="datetimepicker">
        {{ block('datetime_widget') }}
        <span class="input-group-addon">
            <span class="fa fa-calendar" aria-hidden="true"></span>
        </span>
    </div>
{% endblock %}

{% block tags_input_widget %}
    <div class="input-group">
        {{ form_widget(form, {'attr': {'data-role' : 'tagsinput', 'data-tags': tags|json_encode}}) }}
        <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-tags"></i></span>
        </div>
    </div>
{% endblock %}

{%- block vich_image_widget -%}
    <div class="vich-image">
        {{- form_widget(form.file) -}}
        {%- if form.delete is defined -%}
            {{- form_row(form.delete) -}}
        {%- endif -%}

        {%- if image_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}"><img src="{{ (asset_helper is same as(true) ? asset(image_uri) : image_uri) | imagine_filter('homepage_thumb') }}" alt="" /></a>
        {%- endif -%}
        {%- if download_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
        {%- endif -%}
    </div>
{%- endblock -%}