{% for image in images %}
    <div class="col-md-3 slide">
        <div class="d-flex justify-content-between align-items-center">
            <p class="mb-0 text-dark">
                <a href="{{ path('image_index', {category: image.category.id}) }}">{{ image.category }}</a>
                <br>{{ image.uploadAt|date('d.m.y @ H:m') }}</p>
            <span id="views_{{ image.id }}" class="badge badge-primary">{{ image.views }}</span>
        </div>
        <div class="card mb-4">
            <div data-src="{{ vich_uploader_asset(image, 'imageFile') }}" data-image-id="{{ image.id }}" class="pop">
                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('homepage_thumb') }}"
                     alt="{{ image.imageName }}" class="card-img-top"/>
            </div>
            <div class="card-body p-2">
                <p class="card-text">{{ image.description }}</p>
                {{ include('default/_post_tags.html.twig') }}
                {% if  date(image.uploadAt) > date('-2 days') %}

                <div class="d-flex justify-content-end">
                    <div class="btn-group">
                        <a href="{{ vich_uploader_asset(image, 'imageFile') }}" download="{{ image.imageName }}" class="btn btn-outline-secondary"><i
                                    data-toggle="tooltip" title="download" class="fas fa-download"></i></a>
                        <a href="{{ path('image_edit', {id: image.id}) }}" class="btn btn-outline-secondary"><i
                                    data-toggle="tooltip" title="modifica" class="fas fa-edit"></i></a>
                        <a href="{{ path('image_delete', {id: image.id}) }}" class="btn btn-outline-secondary"><i
                                    data-toggle="tooltip" title="cancella" class="fas fa-trash"></i></a>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="w-100 text-center my-auto">
        <h3>Nessuna immagine trovata.</h3>

        <a href="{{ path('home') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Torna indietro
        </a>
    </div>
{% endfor %}