{% if paginator.hasToPaginate %}
    <div class="navigation text-center">
        <ul class="pagination justify-content-center">
            {% if paginator.hasPreviousPage %}
                <li class="page-item"><a class="page-link" href="{{ path('image_index_paginated', {page: paginator.previousPage}|merge(app.request.query.all)) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i></a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i></span>
                </li>
            {% endif %}

            {% for i in 1..paginator.lastPage %}
                {% if i == paginator.currentPage %}
                    <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ path('image_index_paginated', {page: i}|merge(app.request.query.all)) }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if paginator.hasNextPage %}
                <li class="page-item next"><a class="page-link" href="{{ path('image_index_paginated', {page: paginator.nextPage}|merge(app.request.query.all)) }}" rel="next"><i class="fa fw fa-arrow-right"></i></a></li>
            {% else %}
                <li class="page-item next disabled"><span class="page-link" ><i class="fa fw fa-arrow-right"></i></span></li>
            {% endif %}
        </ul>
    </div>
{% endif %}