{% extends 'base.html.twig' %}

{% block title %}Eurostock - ricerca immagini{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('upload') }}
{% endblock %}


{% block body %}

    <div class="container mt-5 justify-content-center">
        <form class="form mt-5" method="get">
            <div class="row m-0">
                <div class="form-group mr-2">
                    <label for="uploadFromDate">DA </label>
                    <input type="date" class="form-control" name="uploadFromDate" id="uploadFromDate" value="">
                </div>
                <div class="form-group">
                    <label for="uploadToDate">A </label>
                    <input type="date" class="form-control" name="uploadToDate" id="uploadToDate"
                           value="{{ date()|date("Y-m-d") }}">
                </div>
            </div>
            <div class="form-group">
                <label class="required" for="image_category">Categoria</label>
                <select id="image_category" name="category" aria-describedby="image_category_help" class="form-control">
                    <option value="" selected="selected">scegli una categoria</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="queryString">Testo ricerca </label>
                <input type="text" class="form-control" name="queryString" id="queryString"
                       placeholder="Cerca parole nelle descrizioni">
            </div>

            <div class="form-group">
                <label for="image_tags">Tags</label>
                <div class="input-group">
                    <input id="image_tags" type="text" name="tags" data-role="tagsinput" data-tags="{{ tags|json_encode }}"
                           class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-tags"></i></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Cerca</button>
        </form>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('upload') }}
{% endblock %}
