{% extends 'base.html.twig' %}

{% block title %}Eurostock - immagini{% endblock %}

{% block body %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {{ include('image/_image_card_layout.html.twig', {images : paginator.results}) }}
            </div>
        {% if paginator.hasToPaginate %}
            <div class="navigation text-center">
            <ul class="pagination justify-content-center">
                {% if paginator.hasPreviousPage %}
                    <li class="page-item"><a class="page-link" href="{{ path('image_index_paginated', {page: paginator.previousPage}) }}" rel="previous"><i class="fa fw fa-long-arrow-left"></i></a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link"><i class="fa fw fa-arrow-left"></i></span>
                    </li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="page-item active"><span class="page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path('image_index_paginated', {page: i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="page-item next"><a class="page-link" href="{{ path('image_index_paginated', {page: paginator.nextPage}) }}" rel="next"><i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="page-item next disabled"><span class="page-link" ><i class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
            </div>
        {% endif %}
        </div>
    </div>

    {{ include('default/_image_zoom.html.twig') }}

{% endblock %}



{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}